/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, .web-work .web-project h3,
.web-work .design-project h3,
.design-work .web-project h3,
.design-work .design-project h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Butler";
  src: "css/fonts/Butler_Regular.otf";
}
@font-face {
  font-family: "Butler";
  src: "css/fonts/Butler_Bold.otf";
}
@font-face {
  font-family: "ElegantLux-Mager";
  src: "css/fonts/ElegantLux-Mager.otf";
}
@font-face {
  font-family: "Born";
  src: "css/fonts/Born.otf";
}
/* line 7, ../sass/_typography.scss */
p {
  font-size: 1em;
  line-height: 1.5em;
  font-family: "Born", Helvetica, verdana, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  padding: .7em 0;
}

/* line 15, ../sass/_typography.scss */
a {
  color: #413b3b;
}

/* line 19, ../sass/_typography.scss */
hr {
  border-bottom: 1px solid #fff;
}

/* line 23, ../sass/_typography.scss */
h1,
h2,
h3,
.web-work .web-project h3,
.web-work .design-project h3,
.design-work .web-project h3,
.design-work .design-project h3,
h4 {
  font-family: "acta-display", "Butler", Georgia, Times, serif;
  font-weight: 900;
}

/* line 31, ../sass/_typography.scss */
h1 {
  padding-top: .5em;
  font-size: 3.375em;
  line-height: 1.33333em;
}
@media only screen and (min-width: 40em) {
  /* line 31, ../sass/_typography.scss */
  h1 {
    font-size: 5.625em;
    line-height: 1.06667em;
  }
}

/* line 39, ../sass/_typography.scss */
h2 {
  font-size: 2.25em;
  line-height: 1.33333em;
}
@media only screen and (min-width: 40em) {
  /* line 39, ../sass/_typography.scss */
  h2 {
    font-size: 3.375em;
    line-height: 1.33333em;
  }
}

/* line 46, ../sass/_typography.scss */
h3, .web-work .web-project h3,
.web-work .design-project h3,
.design-work .web-project h3,
.design-work .design-project h3 {
  color: #fff;
  font-size: 1.25em;
}
@media only screen and (min-width: 40em) {
  /* line 46, ../sass/_typography.scss */
  h3, .web-work .web-project h3,
  .web-work .design-project h3,
  .design-work .web-project h3,
  .design-work .design-project h3 {
    font-size: 2.25em;
  }
}

/* line 54, ../sass/_typography.scss */
h4 {
  font-size: 1.25em;
}

/* line 58, ../sass/_typography.scss */
li {
  font-family: "Born", Helvetica, verdana, sans-serif;
}

/* line 62, ../sass/_typography.scss */
.email {
  padding: 0;
}

/* line 66, ../sass/_typography.scss */
.left-indent {
  text-indent: 1em;
}

/* line 75, ../sass/_typography.scss */
.menu {
  display: block;
  text-align: center;
}
@media only screen and (min-width: 40em) {
  /* line 75, ../sass/_typography.scss */
  .menu {
    text-align: right;
  }
}
/* line 81, ../sass/_typography.scss */
.menu li {
  display: inline-block;
  margin: .25em;
}
/* line 84, ../sass/_typography.scss */
.menu li a {
  font-family: "Born", Helvetica, verdana, sans-serif;
  font-size: 14px;
  padding: .5em .25em;
}
@media only screen and (min-width: 40em) {
  /* line 84, ../sass/_typography.scss */
  .menu li a {
    font-size: 16px;
    padding: .5em;
  }
}
@media only screen and (min-width: 64em) {
  /* line 95, ../sass/_typography.scss */
  .menu .first-nav-item {
    margin-left: 0;
    padding-left: 0;
  }
}

/* line 104, ../sass/_typography.scss */
.menu a,
#contact a {
  display: inline-block;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 108, ../sass/_typography.scss */
.menu a:hover,
#contact a:hover {
  color: #d19537;
}
/* line 111, ../sass/_typography.scss */
.menu a:active, .menu a:focus, .menu a:hover,
#contact a:active,
#contact a:focus,
#contact a:hover {
  color: #d19537;
}

/* line 119, ../sass/_typography.scss */
.hero {
  text-align: left;
}
/* line 121, ../sass/_typography.scss */
.hero span {
  display: inline-block;
  font-family: "acta-display", "Butler", Georgia, Times, serif;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 700;
}
@media only screen and (min-width: 40em) {
  /* line 121, ../sass/_typography.scss */
  .hero span {
    font-size: 2.25em;
    line-height: 1;
  }
}

/* line 135, ../sass/_typography.scss */
.services h2 {
  padding-top: 0;
}
@media only screen and (min-width: 40em) {
  /* line 135, ../sass/_typography.scss */
  .services h2 {
    padding-top: 2em;
  }
}

/* line 150, ../sass/_typography.scss */
.main-about .columns,
.about .columns,
#contact .columns {
  padding: 0;
}
/* line 153, ../sass/_typography.scss */
.main-about h2,
.about h2,
#contact h2 {
  padding-top: .5em;
}
/* line 156, ../sass/_typography.scss */
.main-about p,
.about p,
#contact p {
  font-weight: 400;
}
/* line 159, ../sass/_typography.scss */
.main-about a,
.about a,
#contact a {
  color: #413b3b;
  display: inline-block;
  font-family: "Born", Helvetica, verdana, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 24px;
  text-transform: uppercase;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
@media only screen and (min-width: 64em) {
  /* line 159, ../sass/_typography.scss */
  .main-about a,
  .about a,
  #contact a {
    margin-bottom: 0;
  }
}
/* line 172, ../sass/_typography.scss */
.main-about a:hover,
.about a:hover,
#contact a:hover {
  color: #d19537;
}

/* line 178, ../sass/_typography.scss */
.created {
  font-weight: 700;
  text-transform: none;
}

/* line 189, ../sass/_typography.scss */
.web p,
.design p {
  color: #fff;
  font-weight: 400;
  padding: 8px 0 1.5em;
}
/* line 194, ../sass/_typography.scss */
.web a,
.design a {
  color: #fff;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 198, ../sass/_typography.scss */
.web a:hover,
.design a:hover {
  color: #d19537;
}
/* line 201, ../sass/_typography.scss */
.web a:active, .web a:focus,
.design a:active,
.design a:focus {
  color: #d19537;
}

/* line 210, ../sass/_typography.scss */
.design a:hover {
  color: #413b3b;
}
/* line 213, ../sass/_typography.scss */
.design a:active, .design a:focus {
  color: #413b3b;
}

/* line 228, ../sass/_typography.scss */
.web-work .web-project h3,
.web-work .design-project h3,
.design-work .web-project h3,
.design-work .design-project h3 {
  color: #413b3b;
}
@media only screen and (min-width: 40em) {
  /* line 228, ../sass/_typography.scss */
  .web-work .web-project h3,
  .web-work .design-project h3,
  .design-work .web-project h3,
  .design-work .design-project h3 {
    font-size: 2.25em;
  }
}
/* line 235, ../sass/_typography.scss */
.web-work .web-project p,
.web-work .design-project p,
.design-work .web-project p,
.design-work .design-project p {
  color: #413b3b;
  font-weight: 400;
}
/* line 239, ../sass/_typography.scss */
.web-work .web-project a,
.web-work .design-project a,
.design-work .web-project a,
.design-work .design-project a {
  color: #413b3b;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 243, ../sass/_typography.scss */
.web-work .web-project a:hover,
.web-work .design-project a:hover,
.design-work .web-project a:hover,
.design-work .design-project a:hover {
  color: #d19537;
}
/* line 246, ../sass/_typography.scss */
.web-work .web-project a:active, .web-work .web-project a:focus,
.web-work .design-project a:active,
.web-work .design-project a:focus,
.design-work .web-project a:active,
.design-work .web-project a:focus,
.design-work .design-project a:active,
.design-work .design-project a:focus {
  color: #d19537;
}

/* line 259, ../sass/_typography.scss */
#contact a {
  color: #413b3b;
}
/* line 263, ../sass/_typography.scss */
#contact .social-media li {
  display: inline-block;
  margin: 0 3%;
}
/* line 267, ../sass/_typography.scss */
#contact .social-media a {
  color: #413b3b;
  text-transform: none;
}
/* line 270, ../sass/_typography.scss */
#contact .social-media a img {
  height: 20px;
  max-width: 100%;
  width: 20px;
}

/* line 287, ../sass/_typography.scss */
#about .about h2 {
  padding-top: 0;
}
/* line 290, ../sass/_typography.scss */
#about .about a {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  text-transform: none;
}
/* line 295, ../sass/_typography.scss */
#about .about a:hover {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 306, ../sass/_typography.scss */
.main-footer .up-arrow {
  color: #413b3b;
  display: inline-block;
  font-size: 2.25em;
  padding: 8px;
  -moz-transition: 0.32s;
  -o-transition: 0.32s;
  -webkit-transition: 0.32s;
  transition: 0.32s;
}
/* line 312, ../sass/_typography.scss */
.main-footer .up-arrow:hover, .main-footer .up-arrow:visited, .main-footer .up-arrow:focus {
  color: #d19537;
}

/* line 2, ../sass/_layout.scss */
.no-js .main-nav {
  display: none;
}

@media screen and (min-width: 40em) {
  /* line 7, ../sass/_layout.scss */
  .no-js .main-nav {
    display: block;
  }

  /* line 11, ../sass/_layout.scss */
  .no-js .title-bar {
    display: none;
  }
}
/* line 16, ../sass/_layout.scss */
body {
  background: #fff;
  color: #413b3b;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

/* line 24, ../sass/_layout.scss */
img {
  max-width: 100%;
}

@media only screen and (min-width: 64em) {
  /* line 28, ../sass/_layout.scss */
  .row {
    margin: 0 3%;
  }
}

/* line 34, ../sass/_layout.scss */
.gold-bar {
  border-bottom: 1px solid #d19537;
}

/* line 41, ../sass/_layout.scss */
.main-nav {
  background: transparent;
}

/* line 45, ../sass/_layout.scss */
.top-logo {
  position: relative;
  top: -20px;
}

/* line 54, ../sass/_layout.scss */
.hero {
  background-repeat: no-repeat;
  height: 374px;
  padding-top: 2.54em;
  text-align: center;
}
@media only screen and (min-width: 40em) {
  /* line 54, ../sass/_layout.scss */
  .hero {
    height: 450px;
    padding-top: 6.24em;
    text-align: left;
  }
}

@media only screen and (min-width: 40em) {
  /* line 70, ../sass/_layout.scss */
  .services {
    padding: 4em 0 12em;
  }
  /* line 74, ../sass/_layout.scss */
  .services .gold-bar:first-of-type {
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
    position: relative;
    top: -4em;
    right: 4em;
  }
  /* line 80, ../sass/_layout.scss */
  .services .gold-bar:nth-of-type(2) {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: relative;
    top: 2.25em;
    right: -.2em;
  }
}
@media only screen and (min-width: 64em) {
  /* line 90, ../sass/_layout.scss */
  .services .gold-bar:first-of-type {
    top: -6em;
    right: 6em;
  }
}

/* line 103, ../sass/_layout.scss */
.main-about .my-about {
  color: #413b3b;
}
/* line 105, ../sass/_layout.scss */
.main-about .my-about .vnstyle {
  font-size: 16px;
  font-weight: 700;
  text-transform: none;
}
/* line 109, ../sass/_layout.scss */
.main-about .my-about .vnstyle:hover {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  color: #d19537;
}
@media only screen and (min-width: 40em) {
  /* line 118, ../sass/_layout.scss */
  .main-about .gold-bar {
    -moz-transform: rotate(105deg);
    -ms-transform: rotate(105deg);
    -webkit-transform: rotate(105deg);
    transform: rotate(105deg);
    position: relative;
    top: -5em;
    right: 2em;
  }
}
@media only screen and (min-width: 64em) {
  /* line 102, ../sass/_layout.scss */
  .main-about {
    margin-bottom: 4em;
  }
}

/* line 134, ../sass/_layout.scss */
.main-work {
  padding-top: 2.5em;
}
/* line 136, ../sass/_layout.scss */
.main-work .columns {
  padding: 0;
}
@media only screen and (min-width: 40em) {
  /* line 139, ../sass/_layout.scss */
  .main-work .gold-bar {
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -webkit-transform: rotate(75deg);
    transform: rotate(75deg);
    position: relative;
    top: -6.25em;
  }
}
/* line 146, ../sass/_layout.scss */
.main-work .web,
.main-work .design {
  padding: 64px 0 16px;
}
@media only screen and (min-width: 40em) {
  /* line 146, ../sass/_layout.scss */
  .main-work .web,
  .main-work .design {
    padding: 128px 0 92px;
  }
}
@media only screen and (min-width: 64em) {
  /* line 146, ../sass/_layout.scss */
  .main-work .web,
  .main-work .design {
    padding: 168px 0 112px;
  }
}
/* line 155, ../sass/_layout.scss */
.main-work .web hr,
.main-work .design hr {
  margin: 10px auto;
}
/* line 159, ../sass/_layout.scss */
.main-work .web {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYxNTY1NiIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNjE1NjU2IiBzdG9wLW9wYWNpdHk9IjAuNjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url(https://hd.unsplash.com/photo-1449484956348-51e3a55fd0ab), #413b3b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(97, 86, 86, 0.65)), color-stop(100%, rgba(97, 86, 86, 0.65))), url(https://hd.unsplash.com/photo-1449484956348-51e3a55fd0ab), #413b3b;
  background: -moz-linear-gradient(rgba(97, 86, 86, 0.65), rgba(97, 86, 86, 0.65)), url(https://hd.unsplash.com/photo-1449484956348-51e3a55fd0ab), #413b3b;
  background: -webkit-linear-gradient(rgba(97, 86, 86, 0.65), rgba(97, 86, 86, 0.65)), url(https://hd.unsplash.com/photo-1449484956348-51e3a55fd0ab), #413b3b;
  background: linear-gradient(rgba(97, 86, 86, 0.65), rgba(97, 86, 86, 0.65)), url(https://hd.unsplash.com/photo-1449484956348-51e3a55fd0ab), #413b3b;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid #fff;
}
@media only screen and (min-width: 40em) {
  /* line 159, ../sass/_layout.scss */
  .main-work .web {
    border: none;
    box-shadow: -2em 2em 0 #413b3b;
    margin: 3em 0 16em;
  }
}
/* line 169, ../sass/_layout.scss */
.main-work .design {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QxOTUzNyIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZDE5NTM3IiBzdG9wLW9wYWNpdHk9IjAuNjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA='), url(https://hd.unsplash.com/photo-1466786784937-3e682c802b14), #413b3b;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(209, 149, 55, 0.65)), color-stop(100%, rgba(209, 149, 55, 0.65))), url(https://hd.unsplash.com/photo-1466786784937-3e682c802b14), #413b3b;
  background: -moz-linear-gradient(rgba(209, 149, 55, 0.65), rgba(209, 149, 55, 0.65)), url(https://hd.unsplash.com/photo-1466786784937-3e682c802b14), #413b3b;
  background: -webkit-linear-gradient(rgba(209, 149, 55, 0.65), rgba(209, 149, 55, 0.65)), url(https://hd.unsplash.com/photo-1466786784937-3e682c802b14), #413b3b;
  background: linear-gradient(rgba(209, 149, 55, 0.65), rgba(209, 149, 55, 0.65)), url(https://hd.unsplash.com/photo-1466786784937-3e682c802b14), #413b3b;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 40em) {
  /* line 169, ../sass/_layout.scss */
  .main-work .design {
    box-shadow: 2em 2em 0 #d19537;
  }
}

/* line 178, ../sass/_layout.scss */
.web {
  padding-bottom: 24px;
}

/* line 187, ../sass/_layout.scss */
#design-page .hero {
  height: 188px;
}
@media only screen and (min-width: 40em) {
  /* line 187, ../sass/_layout.scss */
  #design-page .hero {
    height: 374px;
  }
}

/* line 195, ../sass/_layout.scss */
.web-work,
.design-work {
  background: #fff;
}
/* line 198, ../sass/_layout.scss */
.web-work .columns,
.design-work .columns {
  padding: 0 3%;
}
@media only screen and (min-width: 40em) {
  /* line 198, ../sass/_layout.scss */
  .web-work .columns,
  .design-work .columns {
    padding: 0 1%;
  }
}
@media only screen and (min-width: 64em) {
  /* line 198, ../sass/_layout.scss */
  .web-work .columns,
  .design-work .columns {
    padding: 0 .25%;
  }
}

@media only screen and (min-width: 40em) {
  /* line 211, ../sass/_layout.scss */
  .web-work .first-gold-bar {
    -moz-transform: rotate(53deg);
    -ms-transform: rotate(53deg);
    -webkit-transform: rotate(53deg);
    transform: rotate(53deg);
    position: relative;
    top: -1.4em;
    right: 6em;
  }
}
@media only screen and (min-width: 64em) {
  /* line 219, ../sass/_layout.scss */
  .web-work .first-gold-bar {
    top: -3.4em;
    right: 7em;
  }
}

/* line 226, ../sass/_layout.scss */
.design-work {
  background: #fff;
}
@media only screen and (min-width: 40em) {
  /* line 229, ../sass/_layout.scss */
  .design-work .first-gold-bar {
    -moz-transform: rotate(53deg);
    -ms-transform: rotate(53deg);
    -webkit-transform: rotate(53deg);
    transform: rotate(53deg);
    position: relative;
    top: -.4em;
    right: 6em;
  }
}
@media only screen and (min-width: 64em) {
  /* line 237, ../sass/_layout.scss */
  .design-work .first-gold-bar {
    top: -1.4em;
    right: 7em;
  }
}

/* line 246, ../sass/_layout.scss */
.web-project .preview-photo,
.design-project .preview-photo {
  box-shadow: 0 2px 4px #c1baba;
  display: inline-block;
  margin: 32px 0;
}
@media only screen and (min-width: 40em) {
  /* line 246, ../sass/_layout.scss */
  .web-project .preview-photo,
  .design-project .preview-photo {
    margin: 48px 0;
  }
}

/* line 260, ../sass/_layout.scss */
#contact {
  padding: 3em 0;
}
@media only screen and (min-width: 40em) {
  /* line 260, ../sass/_layout.scss */
  #contact {
    padding: 10em 0 5em;
  }
  /* line 264, ../sass/_layout.scss */
  #contact .gold-bar {
    -moz-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
    position: relative;
    top: -1.84em;
    right: 5em;
  }
  /* line 269, ../sass/_layout.scss */
  #contact .gold-bar:nth-of-type(2) {
    -moz-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -webkit-transform: rotate(65deg);
    transform: rotate(65deg);
    top: 2em;
    right: -1em;
  }
}
@media only screen and (min-width: 40em) and (min-width: 64em) {
  /* line 275, ../sass/_layout.scss */
  #contact .gold-bar:nth-of-type(2) {
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -webkit-transform: rotate(55deg);
    transform: rotate(55deg);
    top: 2em;
    right: 6em;
  }
}

/* line 284, ../sass/_layout.scss */
#contact .social-media h2 {
  padding-top: .75em;
}
@media only screen and (min-width: 40em) {
  /* line 283, ../sass/_layout.scss */
  #contact .social-media {
    padding-top: 3em;
  }
}

/* line 298, ../sass/_layout.scss */
#about .hero {
  height: 188px;
}
@media only screen and (min-width: 40em) {
  /* line 298, ../sass/_layout.scss */
  #about .hero {
    height: 450px;
  }
}

/* line 307, ../sass/_layout.scss */
.beginning .gold-bar {
  position: relative;
  top: -.5em;
}
@media only screen and (min-width: 40em) {
  /* line 312, ../sass/_layout.scss */
  .beginning .gold-bar {
    -moz-transform: rotate(78deg);
    -ms-transform: rotate(78deg);
    -webkit-transform: rotate(78deg);
    transform: rotate(78deg);
    position: relative;
    top: -5em;
    right: 12em;
  }
}
@media only screen and (min-width: 64em) {
  /* line 320, ../sass/_layout.scss */
  .beginning .gold-bar {
    position: relative;
    top: -5em;
    right: 16em;
  }
}
@media only screen and (min-width: 40em) {
  /* line 328, ../sass/_layout.scss */
  .beginning .about-information .gold-bar {
    -moz-transform: rotate(53deg);
    -ms-transform: rotate(53deg);
    -webkit-transform: rotate(53deg);
    transform: rotate(53deg);
    position: relative;
    top: -5em;
    right: 12em;
  }
  /* line 333, ../sass/_layout.scss */
  .beginning .about-information .gold-bar:last-of-type {
    top: 3.5em;
    right: 0;
  }
}
@media only screen and (min-width: 64em) {
  /* line 340, ../sass/_layout.scss */
  .beginning .about-information .gold-bar {
    -moz-transform: rotate(53deg);
    -ms-transform: rotate(53deg);
    -webkit-transform: rotate(53deg);
    transform: rotate(53deg);
    position: relative;
    top: -5em;
    right: 12em;
  }
  /* line 345, ../sass/_layout.scss */
  .beginning .about-information .gold-bar:last-of-type {
    top: 2.5em;
    right: 0;
  }
  /* line 350, ../sass/_layout.scss */
  .beginning .about-information .beginning-about-p {
    position: relative;
    top: -1em;
  }
}

/* line 358, ../sass/_layout.scss */
.garden-picture,
.beach-picture {
  width: 100%;
}
@media only screen and (min-width: 40em) {
  /* line 358, ../sass/_layout.scss */
  .garden-picture,
  .beach-picture {
    margin: 4em 0;
    width: 90%;
  }
}
@media only screen and (min-width: 64em) {
  /* line 358, ../sass/_layout.scss */
  .garden-picture,
  .beach-picture {
    width: 80%;
  }
}

/* line 370, ../sass/_layout.scss */
.garden-picture {
  box-shadow: 0.5em 0.5em 0 #d19537;
}

/* line 374, ../sass/_layout.scss */
.beach-picture {
  box-shadow: -0.5em 0.5em 0 #d19537;
}

@media only screen and (min-width: 40em) {
  /* line 378, ../sass/_layout.scss */
  .end {
    margin: 2em 0;
  }
  /* line 381, ../sass/_layout.scss */
  .end .end-text {
    margin-top: 6em;
  }
  /* line 384, ../sass/_layout.scss */
  .end .gold-bar {
    -moz-transform: rotate(112deg);
    -ms-transform: rotate(112deg);
    -webkit-transform: rotate(112deg);
    transform: rotate(112deg);
    position: relative;
    top: 0;
    right: 3em;
  }
  /* line 389, ../sass/_layout.scss */
  .end .gold-bar:last-of-type {
    -moz-transform: rotate(56deg);
    -ms-transform: rotate(56deg);
    -webkit-transform: rotate(56deg);
    transform: rotate(56deg);
    position: relative;
    top: 0;
    right: 8em;
  }
}
@media only screen and (min-width: 64em) {
  /* line 399, ../sass/_layout.scss */
  .end .gold-bar:last-of-type {
    right: 12em;
  }
}
/* line 404, ../sass/_layout.scss */
.end .end-text {
  margin-top: 2em;
}

/* line 415, ../sass/_layout.scss */
.main-footer .up-arrow {
  color: #413b3b;
  display: inline-block;
}

/* line 2, ../sass/_buttons.scss */
.btn {
  display: inline-block;
  font-family: "Born", Helvetica, verdana, sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px;
  text-transform: uppercase;
}

/* line 2, ../sass/_images.scss */
.logo {
  height: 32px;
}

/* line 7, ../sass/_images.scss */
.preview-photo {
  width: 80%;
  height: 100%;
}
@media only screen and (min-width: 40em) {
  /* line 7, ../sass/_images.scss */
  .preview-photo {
    width: 25%;
    height: 20%;
  }
}

/* line 2, ../sass/_icons.scss */
[data-icon]:before {
  font-family: "outlined-iconset" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 15, ../sass/_icons.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "outlined-iconset" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../sass/_icons.scss */
.icon-agenda:before {
  content: "\e086";
}

/* line 32, ../sass/_icons.scss */
.icon-tv-monitor:before {
  content: "\e074";
}

/* line 36, ../sass/_icons.scss */
.icon-portable-pc:before {
  content: "\e054";
}

/* line 40, ../sass/_icons.scss */
.icon-mail:before {
  content: "\e038";
}

/* line 44, ../sass/_icons.scss */
.icon-paper-pen:before {
  content: "\e04d";
}

/* line 48, ../sass/_icons.scss */
.icon-pen-pencil-ruler:before {
  content: "\e050";
}

/* line 52, ../sass/_icons.scss */
.icon-website-1:before {
  content: "\e07f";
}

/* line 55, ../sass/_icons.scss */
.icon-website-2:before {
  content: "\e080";
}

/* line 59, ../sass/_icons.scss */
.icon-pencil-ruler:before {
  content: "\e052";
}

/* line 63, ../sass/_icons.scss */
.icon {
  color: #d19537;
  height: 4rem;
  font-size: 3.375em;
}

/* line 69, ../sass/_icons.scss */
.icon-mail {
  font-size: 1.25em;
  position: relative;
  top: 5px;
}
