
body {
  background: $white;
  color: $black;
  font-size: $primary-font-size;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 85%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;  
}

.text-right {
  text-align: right;
}


///////////////////
//  .hero
//////////////////
.hero {
  background: $gold;
  background-repeat: no-repeat;
  height: 374px;
  padding-top: 2.54em;
  text-align: center;
  @media only screen and (min-width: $medium-query) {
    height: 450px;
    padding-top: 6.24em;
    text-align: left;
  }
}
/////////////////////
//  .main-about 
////////////////////

.main-about {
 .my-about {
   color: $black;
   .vnstyle {
     font-size: $primary-font-size;
     font-weight: 700;
     text-transform: none;
     &:hover {
       @include scale(1);
       color: $gold;
     }
   }

 }//.my-about
 
 @media only screen and (min-width: $medium-query) {
   .gold-bar {
      @include rotate(105deg);
      position: relative;
      top: -5em;
      right: 2em;
   }
 }
 @media only screen and (min-width: $large-query) {
   margin-bottom: 4em;
 }
}// .main-about

////////////////////
//  .main-work
///////////////////

.main-work {
  padding-top: 2.5em;
  .columns {
    padding: 0;
  }
  .gold-bar {
    @media only screen and (min-width: $medium-query) {
      @include rotate(75deg);
      position: relative;
      top: -6.25em;
    }
  }
  .web,
  .design {
    padding: $padding * 32 0 $padding * 8;
    @media only screen and (min-width: $medium-query) {
      padding: $padding * 64 0 $padding * 46;
    }
    @media only screen and (min-width: $large-query) {
      padding: $padding * 84 0 $padding * 56;
    }
    hr {
      margin: 10px auto;
    }
  }
  .web {
    @include background($black-overlay, image-url("workspace.jpg"), $black);
    @include background-basics; 
    border-bottom: 2px solid $white;
    @media only screen and (min-width: $medium-query) {
      border: none;
      margin: 3em 0 16em;
    }
  }
  .design {
    @include background($gold-overlay, image-url("macbook.jpg"), $black);
    @include background-basics;
  }
}

.web {
  padding-bottom: $padding * 12;
}

//////////////////////////////////////
// .web-project + .design-project
/////////////////////////////////////

#web-page,
#design-page {
  .hero {
    height: 214px;
    @media only screen and (min-width: $medium-query) {
      height: 374px;
    }
  }
}

.web-work,
.design-work {
    background: $white;
  .columns {
    padding: 0 3%;
    @media only screen and (min-width: $medium-query) {
      padding: 0 1%;
    }
    @media only screen and (min-width: $large-query) {
      padding: 0 .25%;
    }
  }
}

.web-work {
  @media only screen and (min-width: $medium-query) {
    .first-gold-bar {
      @include rotate(53deg);
        position: relative;
        top: -1.4em;
        right: 6em;
      }
    }
    @media only screen and (min-width: $large-query) {
    .first-gold-bar {
          top: -3.4em;
          right: 7em;
        }
      }
}

.design-work {
  background: $white;
  @media only screen and (min-width: $medium-query) {
    .first-gold-bar {
      @include rotate(53deg);
        position: relative;
        top: -.4em;
        right: 6em;
      }
    }
  @media only screen and (min-width: $large-query) {
    .first-gold-bar {
      top: -1.4em;
      right: 7em;
    }
  }
}

.web-project,
.design-project {
  .preview-photo {
    box-shadow: 0 2px 4px lighten($black, 50%);
    display: inline-block;
    margin: $margin * 16 0;
    @media only screen and (min-width: $medium-query) {
      margin: $margin * 24 0;
    }
  }
}

//////////////////////
// #contact
/////////////////////

#contact {
  padding: 3em 0;
  @media only screen and (min-width: $medium-query) {
    padding: 10em 0 5em;
    .gold-bar {
      @include rotate(110deg);
      position: relative;
      top: -1.84em;
      right: 5em;
      &:nth-of-type(2) {
        @include rotate(65deg);
        top: 2em;
        right: -1em;
      }
      @media only screen and (min-width: $large-query) {
        &:nth-of-type(2) {
          @include rotate(55deg);
          top: 2em;
          right: 6em;
        }
      }
    }
  }
  .social-media {
    h2 {
      padding-top: .75em;
    }
    @media only screen and (min-width: $medium-query) {
      padding-top: 3em;
    }
  }
}

//////////////////////
// .about - About Page
/////////////////////

#about {
  .hero {
    height:188px;
    @media only screen and (min-width: $medium-query) {
      height: 450px;
    }
  }  
}

.beginning {
  .gold-bar {
    position: relative;
    top: -.5em;
  }  
  @media only screen and (min-width: $medium-query) {
    .gold-bar {
      @include rotate(78deg);
      position: relative;
      top: -5em;
      right: 12em;
    }
  }
  @media only screen and (min-width: $large-query) {
    .gold-bar {
      position: relative;
      top: -5em;
      right: 14em;
    }
  }
  .about-information {
    @media only screen and (min-width: $medium-query) {
      .gold-bar {
        @include rotate(90deg);
        position: relative;
        top: -5em;
        right: 12em;
        &:last-of-type {
          top: 3.5em;
          right: 0;
        }
      }
    }
    .beginning-about-p {
      margin: 0 auto;
      padding: 0 8%;
      width: 36em;
      position: relative;
      top: -1em;
      @media only screen and (min-width: $medium-query) {
        margin: 0 auto;
        padding: 0;
        width: 38em;
      }
      p {
        font-size: 1.125em;
      }
    }
  }// .about-information
}// .beginning

.backpack-picture { 
  width: 100%;
  @media only screen and (min-width: $medium-query) {
    margin-top: 8em;
  }
}// .backpack-picture

.end {
    @media only screen and (min-width: $medium-query) {
      margin: 2em 0;
      .end-text {
        margin-top: 6em;
      }
      .gold-bar {
        @include rotate(112deg);
        position: relative;
        top: 0;
        right: 3em;
        &:last-of-type {
          @include rotate(56deg);
          position: relative;
          top: 0;
          right: 8em;
        }
    }
  }
  @media only screen and (min-width: $large-query) {
    .gold-bar {
      &:last-of-type {
          right: 12em;
        }
      }
    }
    .end-text {
      margin-top: 2em;
    }
}


////////////////////
// .main-footer 
///////////////////

.main-footer {
 .up-arrow {
    color: $black;
    display: inline-block;
 }
}

