
body {
  background: #fff;
  color: $black;
  font-size: $primary-font-size;
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 85%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;  
}

.text-right {
  text-align: right;
}

.web {
  padding-bottom: $padding * 12;
}

