
@mixin uppercase {
  text-transform: uppercase;
}

@mixin lowercase {
  text-transform: lowercase;
}

@mixin background-basics {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}