
///////////////////
// global styles
//////////////////

p {
  font-size: .9em;
  font-family: $secondary-font;
  font-weight: 300;
  line-height: 1.5;
}

a {
  color: $black;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}


h3 {
  color: $white;
  font-size: $fourth-font-size;
  @media only screen and (min-width: $medium-query) {
    font-size: $third-font-size;
  }
}

h4 {
  font-size: $fourth-font-size;
}

li {
  font-family: $secondary-font;
}

.email {
  padding: 0;
}

.left-indent {
  text-indent: 1em;
}


///////////////////////
// .web + .design
//////////////////////

.web,
.design {
  p {
    color: $white;
    font-weight: 400;
    padding: $margin * 4 0 1.5em;
  }
  a {
    color: $white;
    @include transition(.32s);
    @include transition-timing-function(ease-in-out);
    &:hover {
      color: $gold;
    }
    &:active,
    &:focus {
      color: $gold;
    }
  }
}

.design {
  a {
    &:hover {
      color: $black;
    }
    &:active,
    &:focus {
      color: $black;
    }
  }
}





