
///////////////////
// global styles
//////////////////


p {
  font-family: $secondary-font;
  font-weight: 300;
  @include adjust-font-size-to($primary-font-size);
  line-height: 1.5;
}

a {
  color: $black;
}

hr {
  border-bottom: 1px solid $white;
}

h1,
h2, 
h3,
h4 {
  font-family: $primary-font;
  font-weight:  900;
}

h1 {
  line-height: 1.3;
  padding-top: .5em;
  @include adjust-font-size-to($secondary-font-size); // 3.375 * 16px = 54px
  @media only screen and (min-width: $medium-query) {
    @include adjust-font-size-to($primary-heading); // 4.625em * 16px = 74px
  }
}

h2 {
  @include adjust-font-size-to($third-font-size);
  @media only screen and (min-width: $medium-query) {
    @include adjust-font-size-to($secondary-font-size);
  }
}

h3 {
  color: $white;
  font-size: $fourth-font-size;
  @media only screen and (min-width: $medium-query) {
    font-size: $third-font-size;
  }
}

h4 {
  font-size: $fourth-font-size;
}


li {
  font-family: $secondary-font;
}

@media only screen and (min-width: $medium-query) {
  .left-indent {
    text-indent: .5em;
  }
}

/////////////////
// navigation
////////////////

.menu {
  display: block;
  text-align: center;
  @media only screen and (min-width: $medium-query) {
    text-align: right;
  }
  li {
    display: inline-block;
    margin: .25em;
    a {
      @include lowercase;
      font-family: $secondary-font;
      padding: .5em;
      @media only screen and (min-width: $medium-query) {
      padding: .5em;
      }
    }
  }
  @media only screen and (min-width: $large-query) {
    .first-nav-item {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.menu,
#contact {
  a {
    display: inline-block;
    @include transition(.2s);
    @include transition-timing-function(ease-in-out);
    &:hover {
      @include transform(scale(1.12));
      color: $gold;
    }
    &:active,
    &:focus,
    &:hover {
      color: $gold;
    }
  }
}

.hero {
  text-align: left;
  span {
    display: inline-block;
    font-family: $primary-font;
    font-size: $fourth-font-size;
    font-weight: 700;
    @media only screen and (min-width: $medium-query) {
      font-size: $third-font-size;
      line-height: .9;
    }
  }
}

.services {
  h2 {
    padding-top: 0;
    @media only screen and (min-width: $medium-query) {
      padding-top: 2em;
    }
  }
}


///////////////////
//.main-about
//////////////////
.main-about,
#contact {
  .columns {
    padding: 0;
  }
  h2 {
    padding-top: .5em;
  }
  p {
    font-weight: 400;
    margin-bottom: $margin * 12;
  }
  a {
    color: $black;
    display: inline-block;
    font-family: $secondary-font;
    font-size: $fourth-font-size;
    font-weight: 700;
    margin-bottom: $margin * 12;
    text-transform: uppercase;
    @include transition(.2s);
    @include transition-timing-function(ease-in-out);
    @media only screen and (min-width: $large-query) {
      margin-bottom: 0;
    }
    &:hover {
      @include transform(scale(1.12));
      color: $gold;
    }
  }
}

.created {
  font-weight: 700;
  text-transform: none;
}

///////////////////////
// .web + .design
//////////////////////

.web,
.design {
  p {
    color: $white;
    font-weight: 400;
    padding: $margin * 4 0 1.5em;
  }
  a {
    color: $white;
    @include transition(.2s);
    @include transition-timing-function(ease-in-out);
    &:hover {
      color: $wheat;
      @include transform(scale(1.12));
    }
    &:active,
    &:focus {
      color: $wheat;
    }
  }
}

.design {
  a {
    &:hover {
      color: $black;
      @include transform(scale(1.12));
    }
    &:active,
    &:focus {
      color: $black;
    }
  }
}

//////////////////////////////////////
// .web-work + .design-work
/////////////////////////////////////

.web-work,
.design-work {
  .web-project,
  .design-project {
    h3 {
      @extend h3;
      color: $black;
      @media only screen and (min-width: $medium-query) {
        font-size: $third-font-size;
      }
    }
    p {
      color: $black;
      font-weight: 400;
      padding: $margin * 4 0 1.5em;
    }
    a {
      color: $black;
      @include transition(.2s);
      @include transition-timing-function(ease-in-out);
      &:hover {
        color: $wheat;
        @include transform(scale(1.12));
      }
      &:active,
      &:focus {
        color: $wheat;
        }
      }
    }
}

/////////////////////
// #contact
////////////////////

#contact {
  a {
    color: $black;
  }
  .social-media {
    li {
      display: inline-block;
      margin: 0 3%;
    }
    a {
      color: $black;
      text-transform: none;
      img {
        height: 20px;
        max-width: 100%;
        width: 20px;
      }
    }
  }
}

///////////////////
//.main-footer
//////////////////
.main-footer {
  .up-arrow {
    color: $black;
    display: inline-block;
    font-size: $third-font-size;
    padding: $padding * 4;
    @include transition(.32s);
      &:hover,
      &:visited,
      &:focus {
        color: $gold;
    }
  }
}
