
///////////////////
// global styles
//////////////////

body {
  color: $black;
}

p {
  font-family: $secondary-font;
  @include adjust-font-size-to($primary-font-size);
}

a {
  color: $black;
}

hr {
  border-bottom: 1px solid $white;
}

h1,
h2, 
h3,
h4 {
  font-family: $primary-font;
  font-weight:  700;
}

h1 {
  font-weight: 700;
  line-height: 1em;
  padding-top: .5em;
  @include adjust-font-size-to($secondary-font-size); // 3.375 * 16px = 54px
  @media only screen and (min-width: $medium-query) {
    @include adjust-font-size-to($primary-heading); // 4.625em * 16px = 74px
  }
}

h2 {
  @include adjust-font-size-to($third-font-size);
  @media only screen and (min-width: $medium-query) {
    @include adjust-font-size-to($secondary-font-size);
  }
}

h3 {
  color: $white;
  font-size: $fourth-font-size;
  @media only screen and (min-width: $large-query) {
    font-size: $third-font-size;
  }
}

h4 {
  font-size: $fourth-font-size;
}


li {
  font-family: $secondary-font;
}

/////////////////
// navigation
////////////////

.main-nav {
  text-align: right; 
}

.menu {
  text-align: center;
  @media only screen and (min-width: $medium-query) {
    text-align: left;
  }
  li {
    display: inline-block;
    margin: .25em;
    a {
      @include lowercase;
      font-family: $secondary-font;
      padding: .5em;
      @media only screen and (min-width: $medium-query) {
      padding: .5em;
      }
    }
  }
  @media only screen and (min-width: $large-query) {
    .first-nav-item {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.menu,
#contact {
  a {
    display: inline-block;
    @include transition(.2s);
    @include transition-timing-function(ease-in-out);
    &:hover {
      @include transform(scale(1.12));
      color: $gold;
    }
    &:active,
    &:focus,
    &:hover {
      color: $gold;
    }
  }
}

.hero {
  span {
    display: inline-block;
    font-family: $primary-font;
    font-size: $fourth-font-size;
    @media only screen and (min-width: $medium-query) {
      font-size: $third-font-size;
      line-height: .9;
      .left-indent {
        text-indent: .5em;
      }
    }
  }
}


///////////////////
//.main-about
//////////////////

.main-about,
#contact {
  .columns {
    padding: 0;
  }
  h2 {
    padding: .75em 0 .15em;
  }
  p {
    margin-bottom: $margin * 12;
  }
  a {
    color: $white;
    display: inline-block;
    font-family: $secondary-font;
    font-size: $fourth-font-size;
    font-weight: 700;
    margin-bottom: $margin * 12;
    text-transform: uppercase;
    @include transition(.2s);
    @include transition-timing-function(ease-in-out);
    @media only screen and (min-width: $large-query) {
      margin-bottom: 0;
    }
    &:hover {
      @include transform(scale(1.12));
      color: $black;
    }
  }
}

.created {
  font-weight: 700;
  text-transform: none;
}

.services {
  h2 {
    padding-top: .5em;
  }
}

///////////////////////
// .web + .design
//////////////////////

.web,
.design {
  p {
    margin-bottom: $margin * 8;
  }
  p,
  a {
    color: $white;
  }
  a {
    @include transition(.2s);
    @include transition-timing-function(ease-in-out);
    &:hover {
      color: $gold;
      @include transform(scale(1.12));
    }
    &:active,
    &:focus {
      color: $gold;
    }
  }
}

//////////////////////////////////////
// .web-work + .design-work
/////////////////////////////////////

.web-work,
.design-work {
  .preview {
    h3 {
      @extend h3;
      @media only screen and (min-width: $medium-query) {
        font-size: $third-font-size;
      }
    }
  }
}

/////////////////////
// #contact
////////////////////

#contact {
  a {
    color: $black;
  }
  .contact-bg {
    p {
      color: $white;
    }
  }
}

///////////////////
//.main-footer
//////////////////
.main-footer {
  p {
    padding-bottom: $padding * 4;
  }
  .social-media {
    li {
      font-size: $primary-font-size * 1.25;
      a {
        color: $white; 
        &:hover {
          color: $gold;
        }
      }
    }
  }
  .fa-angle-up {
    color: $white;
    font-size: $third-font-size;
    margin-bottom: $margin * 6;
    padding: $padding * 4;
  }
}
