
// Colors
$black: #413b3b;
$white: #fff;
$gold: #d19537;


// Overlays 
$black-overlay: linear-gradient(rgba(97,86,86,.45), rgba(97,86,86,.45));
$light-overlay: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
$gold-overlay: linear-gradient(rgba(209, 149, 55, .45), rgba(209, 149, 55, .45));

// Including the Butler & Kano font
@include font-face("Butler", "css/fonts/Butler_Regular.otf");
@include font-face("Butler", "css/fonts/Butler_Bold.otf");
@include font-face("Kano", "css/fonts/Kano.otf");
@include font-face("outlined-iconset", "css/fonts/outlined-iconset.ttf");
@include font-face("ElegantLux-Mager", "css/fonts/ElegantLux-Mager.otf");

// Fonts 
$primary-font: "acta-display", "Butler", Georgia, Times, serif;
$secondary-font: "Butler", Helvetica, verdana, sans-serif;

// Font sizes 
$primary-heading: 5.625em;
$secondary-font-size: 3.375em;
$third-font-size: 2.25em;
$fourth-font-size: 1.25em;
$primary-font-size: 16px;
$small-font-size: 0.754em;

// Padding & Margin 
$margin: 2px;
$padding: 2px;

// Media Query Sizes
$small-query: 39.9375em;
$medium-query: 40em;
$large-query: 64em;
$xl-query: 74.9375em;