
// Colors
$black: #413b3b;
$white: #fff;
$gold: #d19537;


// Overlays 
$black-overlay: linear-gradient(rgba(97,86,86,.65), rgba(97,86,86,.65));
$light-overlay: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
$gold-overlay: linear-gradient(rgba(209, 149, 55, .65), rgba(209, 149, 55, .65));

// Including the Born font & icomoon
@include font-face("Born", "css/fonts/Born.otf");
@include font-face("Born", "css/fonts/born-webfont.woff");
@include font-face("Born", "css/fonts/born-webfont.woff2");
@include font-face("Butler", "css/fonts/Butler_Black.otf");
@include font-face("Butler", "css/fonts/Butler_bold.otf");
$font-path: "css/fonts";

$icon-medium: "\e900";
$icon-instagram: "\ea92";
$icon-twitter: "\ea96";
$icon-dribbble: "\eaa7";
$icon-behance: "\eaa8";
$icon-github: "\eab0";




// Fonts 
$primary-font: "acta-display", "Butler", Georgia, Times, serif;
$secondary-font: "Born", Helvetica, verdana, sans-serif;

// Font sizes 
$primary-heading: 5.625em;
$secondary-font-size: 3.375em;
$third-font-size: 2.25em;
$fourth-font-size: 1.25em;
$primary-font-size: 16px;
$small-font-size: 0.754em;

// Padding & Margin 
$margin: 2px;
$padding: 2px;

// Media Query Sizes
$small-query: 39.9375em;
$medium-query: 40em;
$large-query: 64em;
$xl-query: 74.9375em;